node_modules/
.devcontainer/
.github/
.vscode/
*.md
.git
packages/backend/dist
packages/backend/node_modules
packages/frontend/dist
packages/frontend/node_modules
packages/bot/dist
packages/bot/node_modules