on: 
  workflow_call: 
    inputs:
      version: 
        type: string
        required: true
        description: The version to deploy
  workflow_dispatch: 
    inputs:
      version:
        type: string
        required: true
        description: The version to deploy

jobs:  
  deploy-docker:
    name: Deploy Container
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
      - name: Add to Known Hosts
        run:
          |
          mkdir -p ~/.ssh/
          touch ~/.ssh/known_hosts
          ssh-keyscan ${{ secrets.HOST }} >> ~/.ssh/known_hosts
      - name: Init Remote Context
        run: |
          docker context create remote --docker "host=${{ secrets.DOCKER_HOST }}"
          docker context use remote
      - name: PS
        run: docker ps
      - name: Deploy Compose
        working-directory: deploy
        env:
          TAG: ${{ inputs.version }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          DISCORD_CLIENT_ID: ${{ secrets.DISCORD_CLIENT_ID }}
          DISCORD_CLIENT_SECRET: ${{ secrets.DISCORD_CLIENT_SECRET }}
          DISCORD_CALLBACK_URL: ${{ secrets.DISCORD_CALLBACK_URL }}
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          DISCORD_PUBLIC_KEY: ${{ secrets.DISCORD_PUBLIC_KEY }}
          GUILD_ID: ${{ secrets.GUILD_ID }}
          VITE_FRONTEND_URL: ${{ secrets.VITE_FRONTEND_URL }}
          GOOGLE_CLIENT_EMAIL: ${{ secrets.GOOGLE_CLIENT_EMAIL }}
          GOOGLE_PRIVATE_KEY: ${{ secrets.GOOGLE_PRIVATE_KEY }}
          GOOGLE_CALENDAR_ID: ${{ secrets.GOOGLE_CALENDAR_ID }}
          ADMIN_ROLE_ID: ${{ secrets.ADMIN_ROLE_ID }}
        run: docker compose up -d --remove-orphans
      - name: Prune Images
        run: docker image prune -af