name: Deploy Stack

on:
  workflow_dispatch: 
    inputs:
      tag:
        required: false
        description: The tag of the image to deploy
  push: # Temp
    branches:
      - main

jobs:
  deploy:
    environment: "Production"
    runs-on: ubuntu-latest
    name: Docker Compose Deploy
    steps:
      - uses: actions/checkout@v6
        name: Checkout
      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
      - name: Set up QEMU Docker
        uses: docker/setup-qemu-action@v3
      - name: Create and Use Context
        run: docker context create remote --docker "host=${{ secrets.DOCKER_HOST }}"
      - name: List Contexts
        run: docker context ls
      - name: Remote PS
        run: docker --context remote ps
      - name: Deploy Compose
        working-directory: deploy
        env: 
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          DISCORD_CLIENT_ID: ${{ secrets.DISCORD_CLIENT_ID }}
          DISCORD_CLIENT_SECRET: ${{ secrets.DISCORD_CLIENT_SECRET }}
          DISCORD_CALLBACK_URL: ${{ secrets.DISCORD_CALLBACK_URL }}
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          DISCORD_PUBLIC_KEY: ${{ secrets.DISCORD_PUBLIC_KEY }}
          GUILD_ID: ${{ secrets.GUILD_ID }}
          VITE_FRONTEND_URL: ${{ secrets.VITE_FRONTEND_URL }}
          GOOGLE_CLIENT_EMAIL: ${{ secrets.GOOGLE_CLIENT_EMAIL }}
          GOOGLE_PRIVATE_KEY: ${{ secrets.GOOGLE_PRIVATE_KEY }}
          GOOGLE_CALENDAR_ID: ${{ secrets.GOOGLE_CALENDAR_ID }}
          ADMIN_ROLE_ID: ${{ secrets.ADMIN_ROLE_ID }}
          WEBHOOK_SERVER: ${{ secrets.WEBHOOK_SERVER }}
        run: docker --context remote compose up -d
