on:
  workflow_call:

  pull_request:
    branches:
      - main

name: Check

jobs:
  lint:
    name: Lint and Type Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        name: Setup Bun
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Install Dependancies
        run: bun install --frozen-lockfile
      - name: Check Types
        run: bun typecheck
      - name: Lint & Format Packages
        run: bun check --reporter=github
