name: Playwright Tests
on:
  workflow_call:
    
  pull_request:
    branches:
      - main
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    name: Run Playwright Tests
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version-file: .nvmrc
    - uses: oven-sh/setup-bun@v2
      name: Setup Bun
    - name: Install dependencies
      run: bun i --frozen-lockfile
    - name: Install Playwright Browsers
      run: bunx playwright install --with-deps chromium
    - name: Run Playwright tests
      run: bun playwright test
    - uses: actions/upload-artifact@v6
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30