on: 
  workflow_call: 
    inputs:
      version: 
        type: string
        required: true
        description: The version to publish and deploy
  workflow_dispatch: 
    inputs:
      version:
        type: string
        required: true
        description: The version to publish and deploy

jobs:
  publish:
    permissions:
      packages: write
    name: Publish Docker Image
    runs-on: ubuntu-latest
    outputs:
      version: ${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/team3132/attendance
          tags: type=semver,pattern={{version}},value=${{ inputs.version }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          tags: ${{ steps.meta.outputs.tags }}
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      
